---
- name: check whether docker exists
  shell: command -v docker
  ignore_errors: True
  register: result
  changed_when: false
  always_run: yes

- include: install.yml
  when: result | failed

- include: docker-py.yml

- name: ensure "docker" group present
  group:
    name: docker
    state: present
    system: yes

- name: add users into "docker"
  user:
    append: yes
    groups: docker
    state: present
    name: '{{ item }}'
  with_items: '{{ docker_users or [] }}'

- name: enable docker service
  service:
    name: docker
    enabled: yes

- name: start docker
  service:
    name: docker
    state: started
